.mainContainer{
    width: 40%;
    min-height: 500px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #fff;
}
.mainContainer h1{
    margin: 1rem;
    font-size: 18px;
    font-weight: 800;
    font-family:'Trebuchet MS', sans-serif;
}
.deliveryCalculatorForm{
    font-family:'Trebuchet MS', sans-serif;
    min-height: 85%;
    border-top: 2px solid black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
}
.deliveryCalculatorForm label{
    display: flex;
    flex-direction:column;
    max-width: 70%;
}
.deliveryCalculatorForm input{
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    height: 2rem;
    padding: 5px;
    margin-top: 5px;
}
.inputError{
    border-color: rgb(255, 72, 72) !important;
}
.deliveryCalculatorForm label p{
    margin-top: .1rem;
    font-size: 10px;
    color: rgb(255, 72, 72);
}
.deliveryCalculatorForm button{
    width: 40%;
    height: 3rem;
    margin-top: 30px;
    
    /* background-color: #009de03d; */
    background-color:#009de066 ;
    border: 2px solid black;
    border-radius: 5px;
    color: #000;
}
.deliveryCalculatorForm button:hover{
    cursor: pointer;
    background-color: #009de040;
}
.deliveryCalculatorForm p{
    margin-top: .5rem;
    font-size: 16px;
}
